@font-face {
  font-family: 'William-Bold';
  src: url(/fonts/William-Bold.woff2);
}
@font-face {
  font-family: 'William-Regular';
  src: url(/fonts/William-Regular.woff2);
}
@font-face {
  font-family: 'Object-Sans';
  src: url(/fonts/Object-Sans.woff2);
}